.cproject
.project
.settings
build*
testfec/*.o
testfec/qr
testfec/golay20
testfec/golay23
testfec/golay24
testfec/hamming7
testfec/hamming12
testfec/hamming15
testfec/hamming16
testfec/viterbi
testfec/viterbi35
testfec/crc
testfec/pn
/testfec/crc.exe
/testfec/golay20.exe
/testfec/golay23.exe
/testfec/golay24.exe
/testfec/hamming12.exe
/testfec/hamming15.exe
/testfec/hamming16.exe
/testfec/hamming7.exe
/testfec/pn.exe
/testfec/qr.exe
/testfec/viterbi.exe
/testfec/viterbi35.exe
